body {
    background-color: #7e3878;
    color: white;
    font-size: 3em;
    font-family: 'Lato', sans-serif;
}

#data {
    position: absolute;
    top: 25%;
    left: 20%;
    font-size: 0.9em;
}

h2 {
    position: absolute;
    top: 5%;
    left: 8%;
}
